@import "~bootstrap/dist/css/bootstrap.css";
@import "~fixed-data-table/dist/fixed-data-table.css";
/*@import "~highlight.js/styles/default.css";*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

div .block{
  padding-top: 1rem;
  padding-bottom: 1rem;  
}
